.ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-title {
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;

}



.th-header{
		grid-template-columns:0
}
.elementor-34595 .elementor-element.elementor-element-00c979c .ht-products .ht-product .ht-product-inner .ht-product-content{
	background-color:transparent !important;
}
.ht-products .ht-product .ht-product-inner .ht-product-image-wrap .ht-product-image img{
	width:100%;
	height:250px
}
.ht-products .ht-product .ht-product-inner .ht-product-content{
	padding:5px
}
.th-main-menu__list>.menu-item>a{
	font-size: 12px !important;
}
.menu-item-34804{
	background-color:#E52E2D;
	border: none;
	color:#fff;margin-left:20px;
	height:35px;
	font-size:13px;
	border-radius:10px;
	    width: 85px;
    padding-left: 2px;
}
.menu-item-34804:hover{
	background:#f0f0f0;
	color:#000;
}
.th-header__logo{
	margin-right:0px
}

.th-search--location--desktop-header .th-search__button--vehicle {
	display:none
}
.th-block-space--layout--before-footer{
	height:0px;
}

.th-header__topbar-classic-bg, .th-topbar{
	background:#323232;
	color:#fff;
}


.th-search--location--desktop-header .th-search__button--search{
	position:relative;
}
.th-block-finder__header{
	display:none;

}

.th-vehicle-select--location--block-finder{
	--th-vehicle-select__item--padding-x: 18px;
    --th-vehicle-select__item--padding-y: 8px;
}


.th-block-finder{
	height:100%;
	background:#F0EEEF;
}
.th-block-finder__form{
	background-color:#F0EEEF;
}
.th-vehicle-select--location--block-finder .th-vehicle-select__item{
	height:48px;
	background-color:#fff;
}
.th-vehicle-select--location--block-finder{
	--th-vehicle-select__item-title--line-height:1px;
}
.th-vehicle-select__item{
	border-radius:50px;
	margin:2px;
}
.th-vehicle-select--location--block-finder .th-vehicle-select__item+.th-vehicle-select__item{
}

.th-block-finder__button{
	border-radius: 50px;
	margin-top:2px;
			margin-bottom:2px;
	margin-left:2px;

}

.th-block-slideshow .owl-item .th-block-slideshow__item-image{
		border-radius: 10px;

}
.th-block-slideshow__item{
	height:388px
}
.th-block-slideshow .owl-item .th-block-slideshow__item-image{
	height:350px;
}
.th-block-slideshow__carousel .owl-carousel button.owl-dot:before{
	width:8px;
	height:8px;
	margin:2px
}

 .th-products-list[data-layout=grid] .th-products-list__filler, .th-products-list[data-layout=grid] .th-products-list__item{
	margin: calc(var(--th-products-list--gutter) / 10);
}
